.student-list-container {
  background-color: white;
  box-shadow: 6px 6px 2px -4px rgba(0, 0, 0, 0.45);
  width: 55rem;
  height: 35rem;
  border-radius: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
  // Hide scroll bar
  &::-webkit-scrollbar {
    display: none;
  }
}
.student-list {
  &__item {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 1rem;
    border-bottom: 1px solid $border-color;
  }
  &__img {
    height: 7rem;
    width: 7rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: white;
    border-radius: 50%;
    border: 1px solid $border-color;
  }

  &__info {
    margin-left: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__accordion-sign {
    font-weight: bold;
    margin: 0;
  }

  &__header {
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
  }

  &__text {
    margin: 0 0 0.3rem 1rem;
    font-size: 0.75rem;
    color: $primary-color;
    &--grade {
      word-spacing: 1rem;
    }
  }

  &__icon {
    text-align: center;
    font-size: 3rem;
    color: $secondary-text;
    font-weight: 500;
    cursor: pointer;
    &:hover,
    &:active {
      color: $primary-color;
    }
  }
}
