.input-tag {
  outline: none;
  border: none;
  font-size: 0.75rem;
  color: $secondary-text;
  border-bottom: 2px solid $border-color;
  margin-left: 1rem;
  margin-top: 0.5rem;
  padding-bottom: 8px;
  width: 150px;
  &:focus {
    transition: border-bottom ease-in-out 0.3s;
    border-bottom: 2px solid $primary-color;
  }
}

.tags {
  margin: 1rem;
}
.tag {
  margin-right: 0.5rem;
  font-size: 0.8rem;
  background-color: #d6d6d6;
  padding: 0.5rem;
  border-radius: 4px;
}
