// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");

// Font Variable
$raleway: "Raleway", sans-serif;

$bg-color: #f2f2f2;
$border-color: #dfdfdf;
$dark-border-color: #323232;
$secondary-text: #707070;
